@using System.Data
@using MyDefault.Controllers
@{
    ViewBag.Title = "Blog";
    DataTable categories = DataController.GetData("SELECT * FROM BlogCategory");
    string path = HttpContext.Current.Server.MapPath("~/App_Data/Queries/Blogs.sql");
    string sql = System.IO.File.ReadAllText(path);
    string categoryID = Request.Params["blogCategoryID"];
    if (categoryID == null) { categoryID = "0"; }
    sql = sql.Replace("SELECT @pCategoryID", categoryID);
    DataTable blogs = DataController.GetData(sql);
}
<style>
    .glyphicon-chevron-down:hover,
    .glyphicon-chevron-up:hover {
        cursor:pointer;
        color: #BA0C2E !important;
    }
</style>

<table style="width:100%">
    <tr>
        <td></td>
        <td width="100px"></td>
        <td width="32px"></td>
    </tr>
    <tr>
        <td colspan="3" style="border-bottom:solid 1px red">
            <i>Tags:</i>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs" id="tag0" onclick="onCategoryClicked(0)">
                    <input type="radio" name="tags" autocomplete="off">All
                </label>
                @for (int r = 0; r < categories.Rows.Count; ++r)
                {
                    <label class="btn btn-default btn-xs" id="tag@(categories.Rows[r]["BlogCategoryID"])" onclick="onCategoryClicked(@(categories.Rows[r]["BlogCategoryID"]))">
                        <input type="radio" name="tags" autocomplete="off">@(categories.Rows[r]["CategoryName"])
                    </label>
                }
            </div>
        </td>
    </tr>
    @for (int r = 0; r < blogs.Rows.Count; ++r)
    {
        <tr>
            <td>@(blogs.Rows[r]["BlogTitle"])</td>
            <td>@(((DateTime)blogs.Rows[r]["BlogDate"]).ToString("MMM/dd/yyyy"))</td>
            <td valign="middle" onclick="onExpandIconClicked(@(blogs.Rows[r]["BlogID"]), '@(blogs.Rows[r]["FileName"])')">
                <i class="glyphicon glyphicon-chevron-down chevron" id="icon@(blogs.Rows[r]["BlogID"])"></i>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="blogID@(blogs.Rows[r]["BlogID"])" style="width:100%; display:none; border:dashed 1px red; border-radius: 5px"></div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-bottom:solid 1px #cccccc">
                <i>@(blogs.Rows[r]["Categories"])</i>
            </td>
        </tr>
    }
</table>


@section scripts
{
    <script>
        "use strict";
        function onExpandIconClicked(blogID, fileName) {
            if ($("#blogID" + blogID).css("display") == "none") {
                $.ajax({
                    url: "/Data/GetBlog",
                    dataType: "html",
                    data: { qfilename: "App_Data\\Blogs\\" + fileName },
                    method: "POST",
                    success: function (result) {
                        $("#blogID" + blogID).html(result);
                        $("#icon" + blogID).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
                        $("#blogID" + blogID).show(400);
                    }
                });
            } else {
                $("#icon" + blogID).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
                $("#blogID" + blogID).hide(400);
            }

        }

        function onCategoryClicked(blogCategoryID) {
            window.location = "?blogCategoryID=" + blogCategoryID;
        }

        $(document).ready(function () {
            $("#tag" + @categoryID).button("toggle");
        });
    </script>
}
